<div class="Word">
  {{#each (word-result results) as |word|}}
    <div class="WordResult">
      <div class="WordResult-title">{{word.key}}</div>
      <div class="WordResult-item">{{word.value}}</div>
    </div>
  {{/each}}
</div>
