@import "colors";

.Word {
  margin-top: 20px;
}

.WordResult {
  margin-top: 10px;
}

.WordResult-title {
  color: @primary;
  text-transform: lowercase;
  font-variant: small-caps;
  font-weight: 700;
}

.WordResult-item {
  font-size: 24px;
}
