.Word {
  ul, li {
    list-style: none;
  }

  ul {
    padding-left: 20px;
  }
}

.Word-headWord {
  font-style: italic;
  margin-right: 10px;
}

.Word-link {
  outline: none;
  border: none;
  border-bottom: 1px solid;
  background-color: transparent;
  padding: 0;
  margin: 5px;
  display: inline-block;
  text-transform: capitalize;
  cursor: pointer;
}

.Word-link--selected {
  color: #d14;
  border: none;
}
