<header>
  <div class="Logo">
    {{#link-to 'index'}}
      <em>tala.is</em>lensku
   {{/link-to}}
  </div>
</header>

<div class="container">
  {{main-nav}}
  {{outlet}}
</div>

<footer>
Data from <a href="http://bin.arnastofnun.is/" target="_blank">Beygingarlýsing íslensks nútímamáls</a>
</footer>
