{{search-box word=word action="lookupWord"}}

<div class="Word">
  <ul>
  {{#each result in (word-result model.results)}}
    <li>
      {{result.key}}:
      {{result.value}}
    </li>
  {{/each}}
  </ul>
</div>
