{{search-box word=word action="lookupWord"}}

<div class="Word">

  {{#each result in (word-result model.results)}}
    <div class="WordResult">
      <div class="WordResult-title">{{result.key}}</div>
      <div class="WordResult-item">{{result.value}}</div>
    </div>
  {{/each}}

</div>
