{{search-box word=word action="lookupWord"}}

{{#if word}}
  <div class="Word">
    {{#each model.results as |result|}}
      {{#each (word-result result) as |word|}}
        <div class="WordResult">
          <div class="WordResult-title">{{word.key}}</div>
          <div class="WordResult-item">{{word.value}}</div>
        </div>
      {{/each}}
    {{/each}}
  </div>
{{else}}
  <div class="Help">
    <p>Find the matching verb for a pronoun: {{#link-to 'word' 'þú tala'}}þú tala{{/link-to}}</p>
    <p>Find the matching noun or pronoun for a preposition:
      {{#link-to 'word' 'frá ég'}}frá ég{{/link-to}},
      {{#link-to 'word' 'til hestur'}}til hestur{{/link-to}}
    </p>
  </div>
{{/if}}
